@import "../../modules/sass/common.scss";

.title{
	line-height: 50px;
	color: $subhead_color1;
	font-size: 18px;
	text-align: center;
	.refer_link{
		line-height: 50px;
		color: $subhead_color3;
		font-size: 14px;
		margin-left: 20px;
		font-weight: 400;
	}
}

.sub_title{
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	background-color: pink;
	font-size: 16px;
	color: $subhead_color2;
	cursor: pointer;
}

.header_icon{
	margin-left: 20px;
	font-size: 18px;
}

.el-icon-star-on{
	color: red;
}
