/* 主题色 */ 
$theme_color: #c2a96d;/* 深黄色 */

// 配色
$match_color1: #161616;/* 导航底色，底部栏底色 */
$match_color2: #343434;/* 顶部底色 */
$match_color3: #94d8d5;/* 新品 */
$match_color4: #d68184;/* 热销 */

/* 文字 */ 
$subhead_color1: #333;/* 主要文字 */
$subhead_color2: #666;/* 次要文字 */
$subhead_color3: #999;/* 次要文字 */

/* 禁用颜色 */
$disable_color: #d7d7d7;

/* 链接跳转颜色 */
$hover_color:#00a0ff;

/* 底色 底部背景色 */
$bg_color:#f2f2f2;

/* 边框,页面分割 */ 
$border_color: #ccc;

/* 浏览器大小临界值 */ 
$width_small: 700px;
$width_medium: 852px; 
$width_large: 1200px;
$height_small: 630px;
$height_medium: 750px;

