
// 主题色
$theme_color: #14a73c;

// 主题色强化
$theme_color2: #fa434e;

//标题
$title_color: #3d3d3d;

//副标题
$subhead_color: #888888;

//失效文字、辅助性
$assist_color: #cdcdcd;

//线、框
$border_color: #e9e9e9;

//底色
$bg_color: #f8f8f8;

//配色
$match_color:#e4ffeb;

//配色2
$match_color2:#8aace3;

// 小弹框50%背景色


//20px字
$fz20: 20px;

$fz18: 18px;

$fz14: 14px;


