@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gla4b2');
  src:  url('fonts/icomoon.eot?gla4b2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gla4b2') format('truetype'),
    url('fonts/icomoon.woff?gla4b2') format('woff'),
    url('fonts/icomoon.svg?gla4b2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-account:before {
  content: "\e902";
}
.icon-activity:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e904";
}
.icon-addcart:before {
  content: "\e905";
}
.icon-address:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-attention3:before {
  content: "\e90b";
}
.icon-attention2:before {
  content: "\e90c";
}
.icon-attention1:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e90e";
}
.icon-circle:before {
  content: "\e90f";
}
.icon-community:before {
  content: "\e910";
}
.icon-complate:before {
  content: "\e911";
}
.icon-cooperate:before {
  content: "\e912";
}
.icon-delete1:before {
  content: "\e913";
}
.icon-delete2:before {
  content: "\e914";
}
.icon-designer:before {
  content: "\e915";
}
.icon-fall:before {
  content: "\e916";
}
.icon-editor:before {
  content: "\e917";
}
.icon-equal:before {
  content: "\e918";
}
.icon-help:before {
  content: "\e919";
}
.icon-lamp1:before {
  content: "\e91a";
}
.icon-lamp2:before {
  content: "\e91b";
}
.icon-like:before {
  content: "\e91c";
}
.icon-like2:before {
  content: "\e91d";
}
.icon-msg:before {
  content: "\e91e";
}
.icon-money-pot:before {
  content: "\e91f";
}
.icon-qq:before {
  content: "\e920";
}
.icon-qweibo:before {
  content: "\e921";
}
.icon-radiochecked:before {
  content: "\e922";
}
.icon-correct:before {
  content: "\e923";
}
.icon-rmb:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e925";
}
.icon-selected1:before {
  content: "\e926";
}
.icon-selected2:before {
  content: "\e927";
}
.icon-service:before {
  content: "\e928";
}
.icon-set:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e92a";
}
.icon-shop:before {
  content: "\e92b";
}
.icon-stare:before {
  content: "\e92c";
}
.icon-triangle-down:before {
  content: "\e92d";
}
.icon-rise:before {
  content: "\e92e";
}
.icon-wechat:before {
  content: "\e92f";
}
.icon-weibo:before {
  content: "\e930";
}
.icon-wrong:before {
  content: "\e931";
}
.icon-address2:before {
  content: "\e932";
}
.icon-reduce:before {
  content: "\e933";
}
.icon-service1:before {
  content: "\e934";
}
.icon-villa:before {
  content: "\e935";
}
.icon-dining:before {
  content: "\e936";
}
.icon-kitchen:before {
  content: "\e937";
}
.icon-light:before {
  content: "\e938";
}
.icon-living:before {
  content: "\e939";
}
.icon-payment:before {
  content: "\e93a";
}
.icon-study:before {
  content: "\e93b";
}
.icon-bedroom:before {
  content: "\e93c";
}
.icon-hotline:before {
  content: "\e93d";
}
.icon-empty:before {
  content: "\e93e";
}
.icon-website:before {
  content: "\e93f";
}
.icon-mail:before {
  content: "\e940";
}
.icon-o2o:before {
  content: "\e941";
}
.icon-advice:before {
  content: "\e942";
}
.icon-store:before {
  content: "\e943";
}
.icon-engineer:before {
  content: "\e944";
}
.icon-read:before {
  content: "\e945";
}
.icon-resolve:before {
  content: "\e946";
}
.icon-gym:before {
  content: "\e947";
}
.icon-head:before {
  content: "\e948";
}
.icon-office:before {
  content: "\e949";
}
.icon-school:before {
  content: "\e94a";
}
.icon-eye-open:before {
  content: "\e94b";
}
.icon-eye-close:before {
  content: "\e94c";
}
.icon-money:before {
  content: "\e94d";
}
.icon-income2:before {
  content: "\e94e";
}
.icon-obligation:before {
  content: "\e94f";
}
.icon-truck1:before {
  content: "\e950";
}
.icon-receipt:before {
  content: "\e951";
}
.icon-truck2:before {
  content: "\e952";
}
.icon-order5:before {
  content: "\e953";
}
.icon-timing:before {
  content: "\e954";
}
.icon-order4:before {
  content: "\e955";
}
.icon-integrate:before {
  content: "\e956";
}
.icon-reduce2:before {
  content: "\e957";
}
.icon-income1:before {
  content: "\e958";
}
.icon-income3:before {
  content: "\e959";
}
.icon-shapping-mall:before {
  content: "\e95a";
}
.icon-detail:before {
  content: "\e95b";
}
.icon-judge2:before {
  content: "\e95c";
}
.icon-judge1:before {
  content: "\e95d";
}
.icon-money2:before {
  content: "\e95e";
}
.icon-rmb2:before {
  content: "\e95f";
}
.icon-calendar:before {
  content: "\e960";
}
.icon-triangle-up:before {
  content: "\e961";
}
.icon-set2:before {
  content: "\e962";
}
.icon-timing2:before {
  content: "\e963";
}
.icon-double-arrow:before {
  content: "\e964";
}
.icon-tuan:before {
  content: "\e965";
}
.icon-order3:before {
  content: "\e966";
}
.icon-order2:before {
  content: "\e967";
}
.icon-msg2:before {
  content: "\e968";
}
.icon-expired:before {
  content: "\e969";
}
.icon-robbed:before {
  content: "\e96a";
}
.icon-used:before {
  content: "\e96b";
}
.icon-consumed:before {
  content: "\e96c";
}
.icon-coupon:before {
  content: "\e96d";
}
.icon-circle-hollow:before {
  content: "\e96e";
}
.icon-get-up:before {
  content: "\e96f";
}
.icon-turn-right:before {
  content: "\e970";
}
.icon-turn-left:before {
  content: "\e971";
}
.icon-top-select:before {
  content: "\e972";
}
.icon-low-level2:before {
  content: "\e973";
}
.icon-low-level1:before {
  content: "\e974";
}
.icon-service2:before {
  content: "\e975";
}
.icon-saoma:before {
  content: "\e976";
}
.icon-wallet:before {
  content: "\e977";
}
.icon-message:before {
  content: "\e978";
}
.icon-recent-scan:before {
  content: "\e979";
}
.icon-share1:before {
  content: "\e97a";
}
.icon-attention:before {
  content: "\e97b";
}
.icon-news:before {
  content: "\e97c";
}

