<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="">
  <meta name="Description" content="">
  <title>整屏滚动-vhvw</title>
</head>

<body>
  <div id="body" v-cloak>
    <!-- 第一屛 -->
    <div class="first_box page page_active">
        <div class="top">
            <div class="main_top_wrap">
                <div class="main_top">
                    <a class="index_btn" href="" :style="{lineHeight:0.055*clientHeight+'px'}">雷士官网商城</a>
                    <div class="main_top_right">
                        <div class="search_box_wrap">
                            <div class="search_box">
                                <input type="text"  placeholder="搜索">
                                <i class="ico_search"></i>
                            </div>
                        </div>
                        <div class="main_top_right_list">
                            <a v-if="isLogin" >欢迎柯尼斯女士</a>
                            <a :href="loginUrl" v-if="!isLogin">登录</a>
                            <a href="register.html" v-if="!isLogin">注册</a>
                            <a href="myCollection.html">我的收藏(0)</a>
                            <a href="javascript:;">English</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_nav_wrap">
                <div class="main_nav clearfix">
                    <span class="top_title">
                    <!-- wh:263*100 -->
                        <img src="./imgs/top_logo.png" alt="">
                    </span>
                    <ul class="nav_list clearfix">
                        <li><a class="list_name" href="index.html">首页</a></li>
                        <li class="classify_list">
                            <a class="list_name" href="productClassify.html">产品分类</a>
                            <ul class="secondary_list">
                                <!-- <li v-for="list in 5" :key="list.id"><a :href="'classifyLists.html?id='+list.id">{{list.name}}</a></li> -->
                                <li><a href="">吊灯</a></li>
                                <li><a href="">落地灯</a></li>
                                <li><a href="">台灯</a></li>
                                <li><a href="">壁灯</a></li>
                            </ul>
                        </li>
                        <li><a class="list_name" href="aboutUs.html">关于Berkeley</a></li>
                        <li><a class="list_name" href="designerIndex.html">设计师频道</a></li>
                        <li><a class="list_name" href="retailStore.html">门店查询</a></li>
                        <li><a class="list_name" href="commercialCase.html">商业空间案例</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <slide width="100%" :height="clientHeight" :slide-list="slideList" play="true" v-if="slideList.length"></slide>
    </div>
    <!-- 第二屏 -->
    <div class="second_box page">
        <div class="yellow_bg"></div>
        <div class="second_box_main">
            <div class="title_show title_brand_story">
                <span class="title_show_name">品牌故事</span>
            </div>
            <!-- 文字 -->
            <div class="brand_story_text clearfix">
                <div class="brand_story_text_left">
                    <p>一百五十年，这里沉淀了一个传奇</p>
                    <p>充满人文与艺术交融的气息</p>
                    <p>一百五十年，这里沉淀了一个传奇</p>
                </div>
                <!-- 一行最多只能放13个字，最多6行 -->
                <div class="brand_story_text_right">
                    <p>用极简的线条够了不凡的意境</p>
                    <p>用张力的色彩描绘简约的初心</p>
                    <p>从细节出发</p>
                    <p>从细节出发</p>
                    <p>从细节出发</p>
                </div>
            </div>
            <!-- 图片轮播 wrap -->
            <div class="brand_story_slide">
                <div class="small_slide_wrap">
                    <!-- 图片轮播 -->
                    <slide width="100%" :height="0.55*clientHeight" :slide-list="slideList" play="true" v-if="slideList.length"></slide>
                </div>
                <!-- 配字 -->
                <div class="brand_story_slide_text">
                    <!-- 最多7行 1行7个 -->
                    <div class="summary_text">
                    打开工具的快感很快的肯定会给的看法和刚很反感打开工具的快感很快的肯定会给的看法和刚很反感打开工具的快感很快的肯定会给的看法和刚很反感打开工具的快感很快的肯定会给的看法和刚很反感打开工具的快感很快的肯定会给的看法和刚很反感打开工具的快感很快的肯定会给的看法和刚很反感</div>
                    <a class="more_btn" href="">了解更多</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 第三屏 -->
    <div class="third_box">
        <div class="third_box_main">
            <div class="title_show title_product_display">
                <span class="title_show_name">产品展示</span>
            </div>
            <!-- 5种分类 -->
            <div class="classify_content clearfix">
                <!-- wh:224*280 -->
                <a class="classify_list" href="javascript:;" v-for="(list,index) in 8" v-if="index < 5">
                    <img src="./imgs/img_light.png" alt="">
                    <p class="classify_list_name">吸顶灯</p>
                </a>
            </div>
            <!-- 分类详情列表 -->
            <ul class="classify_detail_content">
                <!-- wh:285*580 -->
                <!-- 只放4个 -->
                <li class="classify_detail_list" v-for="list in 4">
                    <!-- wh:285*420 -->
                    <a class="classify_detail_list_img" href=""><img src="./imgs/img_pro.png" alt=""></a>
                    <p class="classify_detail_list_name">Berkeley梓萌系列客厅吸顶灯</p>
                    <a class="check_btn" href="">查看详情 >></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 第四屏 -->
    <div class="forth_box">
        <div class="img_brand_position">
            <div class="title_brand_position_wrap">
                <div class="title_show title_brand_position">
                    <span class="title_show_name">品牌定位</span>
                </div>
            </div>
        </div>
        <div class="index_foot">
            <div class="foot">
                <div class="title_foot">
                    <!-- wh:132*50 -->
                    <img src="./imgs/foot_logo.png" alt="">
                </div>
                <!-- h:190 -->
                <div class="main_foot clearfix">
                    <div class="lists">
                        <h3>关注Berkeley</h3>
                        <a href="brandProfile.html">品牌简介</a>
                        <a href="aboutUs.html">新闻动态</a>
                        <a href="contactUs.html">联系我们</a>
                    </div>
                    <div class="lists">
                        <h3>服务与支持</h3>
                        <a href="shoppingGuide.html">购物指南</a>
                        <a href="sendIllustration.html">配送说明</a>
                        <a href="afterSale.html">售后服务</a>
                    </div>
                    <div class="phone_content">
                        <h3>24小时全国服务热线</h3>
                        <p class="phone">400-894-0606</p>
                        <span class="service_btn">24小时在线客服</span>
                    </div>
                    <div class="qr_content">
                        <div class="img_box">
                            <img src="./imgs/qrcode.png" alt="">
                        </div>
                        <p class="name_one">扫一扫关注</p>
                        <p class="name_two">Berkeley公众号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
</body>

</html>
